.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;;
  margin:0 auto;
  background-color: plum;
  max-width: 1080px;
  font-family:'Roboto Mono', monospace;
}

.Header nav a{
  color: black;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  padding:10px;
}
.Header h1{
  padding:0px 20px;
}
.Header nav a:hover{
  color:white;
  font-size: larger;
}
.Home{
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
  margin-bottom:50px;
  font-family:'Roboto Mono', monospace;
}
.Home h2{
  font-size:48px;
  font-weight: normal;
  margin: 0;
  margin-bottom:30px;
  margin-top:30px;
}
.Home h2 span{
  color:magenta;
}
.WeatherInfo{
  display:flex;
  justify-content: space-between;
}
.WeatherInfoBasic{
  border:2px solid black;
  flex-basis:30%;
  text-align:center;
  padding:10px;
}
.WeatherInfoType{
  font-size:60px;
  margin:0;
  margin-bottom:30px;
}
.WeatherInfoTemperature{
  font-size:80px;
  margin:0;
}

.WeatherInfoExtra{
  border:2px solid black;
  border-left:none;
  flex-basis:70%;
  padding: 30px;
  display:flex;
}
.WeatherInfoImage{
  font-size:150px;
}
.Label{
  font-size:16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.WeatherInfoTemperature_Small{
  font-size:48px;
  margin:0;
  margin-bottom:30px;
}
.WeatherInfoExtra_Column{
  flex-basis:50%;
}