.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;;
  margin:0 auto;
  background-color: plum;
  padding:20px;
  font-family:'Roboto Mono', monospace;
}

.Header nav a{
  color: black;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  background-color: greenyellow;
  padding:10px;
}

.Header nav a:hover{
  color:white;
  font-size: larger;
}
.Home{
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}